// colors
$black:  #111111;
$white:  #ffffff;
$tealmd: #058B9A;
$teallt: #00A4B3;
$pink:   #EDAFB8;
$beige:  #F7E1D7;
$greenlt:#DEDBD2;
$greenmd:#B0C4B1;
$greendk:#4A5759;

// fonts
$header-font: 'Average', Garamond, serif;
$copy-font:   'Quicksand', Arial, sans-serif;

// media sizes
$phablet-width: "screen and (min-width: 400px)";
$tablet-width:  "screen and (min-width: 769px)";
$desktop-width: "screen and (min-width: 1024px)";
$full-width:    "screen and (min-width: 1440px)";
